.rainbow3-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.rainbow3 {
    position: absolute;;
    left: 34vw;
    top: -20vh;
    z-index: 1;
}
.mountain-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mountain1-container {
    position: absolute;
    top: 0;
    left: 2vw;
    /* height: 100%; */
}
.mountain2-container {
    position: absolute;
    top: 50vh;
    left: 34vw;
    /* height: 100%; */
}
.mountain3-container {
    position: absolute;
    top: 20vw;
    left: 70vw;
    /* height: 100%; */
}
.tree-container {
    position: relative;
    width: 100%;
    height: 100%;
    right: 0;
}
.tree-container img {
    position: absolute;
    right: 0;
}
