/* 定义全局默认中文字体文件为本地文件'../../assets/fonts/fzzj-sihaixingshu.TTF'，西文为微软雅黑 */

@font-face {
    font-family: 'MyFont';
    src: url('../assets/fonts/fzzj-sihaixingshu.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    text-decoration: none;
    /* font-family: "MyFont", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; */
}

/* 隐藏所有滚动条，包括横向和纵向 */
*::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

* {
    -ms-overflow-style: none; /* IE和Edge */
    scrollbar-width: none;     /* Firefox */
}

.txt-sm {
    font-size: 40px;
}
